@use "variables" as *;
header{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .facebook{
        border-radius: 100%;
        border: 3px solid $first-color;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
            background-color: $second-color;
            border-color: $second-color;
        }
        i{
            font-size: 15px;
            color: $first-color;
        }
    }
    .connexion{
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            padding: 7px 10px;
            background-color: $first-color;
            color: $second-color;
            font-size: 15px;
            text-transform: uppercase;
            text-decoration: none;
            display: block;
            position: relative;
            z-index: 1;
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background-color: $second-color;
                transition: all 0.3s;
                z-index: -1;

            }
            &:hover{
                z-index: 1;
                color: $first-color;
                &::before{
                    width: 100%;
                }
            }
        }
    }
}
.pseudo{
    font-weight: $font-weight-bold;
}