@use "variables" as *;

ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    li{
        a{
            text-decoration: none;
            color: $first-color;
            text-transform: uppercase;
            font-size: $font-size-menu;
            padding: 15px 20px;
            position: relative;
            z-index: 9;
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 1px;
                height: 100%;
                background-color: $first-color;
                transition: all 0.3s;
                z-index: -1;
            }
            &:hover{
                color: $second-color;
                &::before{
                    width: 100%;
                }
            }
        }
        
        &:first-child{
            a{
                &::before{
                    width: 0;
                }
                
                &:hover{
                    color: $second-color;
                    &::before{
                        width: 100%;
                    }
                }
            }
        }
        display: flex;
        align-items: center;
    }
}
.menuFixe{
    width: 100%;
    position: fixed;
    background-color: $third-color;
    p{
        color: $second-color;
    }
    .containerMenuFixe{
        padding: 15px 0;
        position: relative;
        margin: auto;
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .logodark{
            position: absolute;
            top: 0;
            margin-top: 15px;
            a{
                display: block;
                height: 114px;
                width: auto;
                img{
                    width: auto;
                    height: 100%;
                }
            }
        }
        .d-flex-menu{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 100%;
            &>*{
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
            
            .menuconnexion-menuFixe{
                &>*{
                    margin-left: 10px;
                }
                
                display: flex;
                align-items: center;
                .connexion{
                    margin-right: 0;
                }
            }
            .menuaccueil-menuFixe{
                nav{
                    ul{
                        li{
                            a{
                                color: $second-color;
                                padding:7px 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}