@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,500&display=swap");
* {
  box-sizing: border-box;
  transition: all 0.3s;
}

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  width: 100%;
  height: 100%;
  position: relative;
}

p {
  font-weight: 300;
  line-height: 25px;
  font-size: 18px;
}

.btnBasis a {
  padding: 15px 20px;
  background-color: #f2ce4f;
  background-size: contain;
  color: #1a2c4d;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-flex;
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  z-index: 0;
}
.btnBasis a i {
  padding-left: 5px;
}
.btnBasis a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #1a2c4d;
  transition: all 0.3s;
  z-index: -1;
}
.btnBasis a:hover {
  z-index: 0;
  color: #f2ce4f;
}
.btnBasis a:hover::before {
  width: 100%;
}

.headerHome {
  width: 100%;
}
.headerHome .containerHeaderHome {
  margin: auto;
  width: 70%;
  display: flex;
  align-items: center;
  padding-top: 15px;
  align-items: center;
  justify-content: flex-end;
}
.headerHome .containerHeaderHome > * {
  margin-left: 10px;
}
.headerHome .containerHeaderHome p {
  color: white;
}
.headerHome .containerHeaderHome .facebook {
  border-radius: 100%;
  border: 3px solid #f2ce4f;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerHome .containerHeaderHome .facebook:hover {
  background-color: white;
  border-color: white;
}
.headerHome .containerHeaderHome .facebook:hover i {
  color: #1a2c4d;
}
.headerHome .containerHeaderHome .facebook i {
  font-size: 15px;
  color: #f2ce4f;
}
.headerHome .containerHeaderHome .connexion {
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerHome .containerHeaderHome .connexion a {
  padding: 7px 10px;
  font-size: 15px;
}
.headerHome .containerHeaderHome .connexion a::before {
  background-color: white;
}
.headerHome .containerHeaderHome .connexion a:hover {
  z-index: 1;
  color: #1a2c4d;
}
.headerHome .containerHeaderHome .connexion a:hover::before {
  width: 100%;
}

footer {
  background-color: #1a2c4d;
}
footer .subfooter {
  background-image: url("../img/footer.png");
  background-size: cover;
  padding: 50px 0;
  display: flex;
  justify-content: center;
}
footer .subfooter a {
  font-size: 18px;
}
footer .containerFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  padding: 15px 0;
}
footer .containerFooter a {
  display: block;
}
footer .containerFooter a img {
  width: 100px;
  height: auto;
}
footer .containerFooter nav ul li a {
  font-size: 18px;
}
footer .containerFooter nav ul li a::before {
  height: 8px;
  top: 50%;
  transform: translateY(-50%);
}
footer .containerFooter nav ul li a:hover {
  color: white;
}
footer .containerFooter nav ul li a:hover::before {
  width: 1px;
}
footer .containerFooter nav ul li:first-child a:hover {
  color: white;
}
footer .containerFooter nav ul li:first-child a:hover::before {
  width: 0;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
ul li {
  display: flex;
  align-items: center;
}
ul li a {
  text-decoration: none;
  color: #f2ce4f;
  text-transform: uppercase;
  font-size: 20px;
  padding: 15px 20px;
  position: relative;
  z-index: 9;
}
ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: #f2ce4f;
  transition: all 0.3s;
  z-index: -1;
}
ul li a:hover {
  color: #1a2c4d;
}
ul li a:hover::before {
  width: 100%;
}
ul li:first-child a::before {
  width: 0;
}
ul li:first-child a:hover {
  color: #1a2c4d;
}
ul li:first-child a:hover::before {
  width: 100%;
}

.menuFixe {
  z-index: 9;
  width: 100%;
  position: fixed;
  background-color: white;
}
.menuFixe p {
  color: #1a2c4d;
}
.menuFixe .containerMenuFixe {
  padding: 15px 0;
  position: relative;
  margin: auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.menuFixe .containerMenuFixe .logodark {
  position: absolute;
  top: 0;
  margin-top: 15px;
}
.menuFixe .containerMenuFixe .logodark a {
  display: block;
  height: 114px;
  width: auto;
}
.menuFixe .containerMenuFixe .logodark a img {
  width: auto;
  height: 100%;
}
.menuFixe .containerMenuFixe .d-flex-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}
.menuFixe .containerMenuFixe .d-flex-menu > * {
  margin-bottom: 10px;
}
.menuFixe .containerMenuFixe .d-flex-menu > *:last-child {
  margin-bottom: 0;
}
.menuFixe .containerMenuFixe .d-flex-menu .menuconnexion-menuFixe {
  display: flex;
  align-items: center;
}
.menuFixe .containerMenuFixe .d-flex-menu .menuconnexion-menuFixe > * {
  margin-left: 10px;
}
.menuFixe .containerMenuFixe .d-flex-menu .menuconnexion-menuFixe .connexion {
  margin-right: 0;
}
.menuFixe .containerMenuFixe .d-flex-menu .menuaccueil-menuFixe nav ul li a {
  color: #1a2c4d;
  padding: 7px 12px;
}

header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
}
header.headerHome {
  position: absolute;
}
header .facebook {
  border-radius: 100%;
  border: 3px solid #f2ce4f;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .facebook:hover {
  background-color: #1a2c4d;
  border-color: #1a2c4d;
}
header .facebook i {
  font-size: 15px;
  color: #f2ce4f;
}
header .connexion {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .connexion a {
  padding: 7px 10px;
  font-size: 15px;
}

.bold {
  font-weight: 700;
}

.accueil {
  background-image: url("../img/accueil.jpg");
  background-size: auto 100%;
  background-position: center;
  overflow: hidden;
  width: auto;
  height: 100%;
}
.accueil .containerAccueil {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.accueil .containerAccueil .logo_big {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.accueil .containerAccueil .logo_big img {
  width: 550px;
  height: auto;
}
.accueil .containerAccueil .title {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: white;
  display: inline;
}
.accueil .containerAccueil .title--big {
  font-size: 40px;
}
.accueil .containerAccueil .title--little {
  font-size: 22px;
  margin: 15px 0 25px 0;
}
.accueil .containerAccueil .title .point {
  margin: 5px;
}

.containerContent {
  width: 100%;
  background-color: #1a2c4d;
  padding-top: 170px;
  position: relative;
}
.containerContent .lineOpacity {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #2e3f5d;
}
.containerContent .containerWidth {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleContent {
  color: white;
  display: inline-flex;
  text-transform: uppercase;
  font-size: 25px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 30px 30px 30px 42px;
  margin: 0px auto 50px auto;
}
.titleContent::before {
  content: "";
  height: 24px;
  width: 2px;
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: #f2ce4f;
}

.club {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 50px;
  position: relative;
}
.club .victory {
  position: absolute;
  top: 20%;
  left: -5%;
  width: 600px;
  height: auto;
  z-index: 1;
}
.club .clubContent {
  position: relative;
  background-color: #384765;
  font-family: "Alegreya Sans", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  padding: 35px;
}
.club .clubContent h2 {
  background-color: transparent;
  margin: 0;
  padding-left: 10px;
  padding-top: 0;
  position: relative;
}
.club .clubContent h2::before {
  position: absolute;
  top: 0;
  left: 0;
}
.club .clubContent p {
  margin-bottom: 10px;
}
.club .clubContent .lastP {
  margin-bottom: 20px;
}

.p-i-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}
.p-i-flex .textContent {
  font-family: "Alegreya Sans", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  width: 45%;
  padding-left: 35px;
}
.p-i-flex .textContent h3 {
  padding: 25px 0;
  font-size: 22px;
}
.p-i-flex .textContent p {
  margin-bottom: 10px;
}
.p-i-flex .textContent .lastP {
  margin-bottom: 20px;
}

.picture {
  width: 550px;
  height: 550px;
  border-radius: 100%;
  overflow: hidden;
}
.picture img {
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
