@use "variables" as *;
@import "basic";
@import "buttons";
@import "menu_style/menu_header_home";
@import "menu_style/menu_footer";
@import "menu_style/menu_fixe";
@import "menu_style/menu_connexion";

.accueil{
    background-image: url("../img/accueil.jpg");
    background-size: cover;
    overflow: hidden;
    width: auto;
    height: 100%;
    .containerAccueil{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .logo_big{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            img{
                width: 550px;
                height: auto;
            }
        }
        .title{
            font-weight: $font-weight-title;
            margin: 0;
            text-transform: uppercase;
            color:$third-color;
            display: inline; 
            &--big{
                font-size: 40px;
            }
            &--little{
                font-size: $font-size-title; 
                margin: 15px 0 25px 0;
                
            }
            .point{
                margin: 5px;
            }
        }
    }   
}
.containerContent{
    width: 100%;
    background-color: $second-color;
    padding-top: 170px;
    position: relative;
    .lineOpacity{
        width: 100%;
        height: 38%;
        position: absolute;
        top: 43%;
        left: 0;
        background-color: $fourth-color;
    }
    .containerWidth{
        width: 70%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.titleContent{
    color: $third-color;
    display: inline-flex;
    text-transform: uppercase;
    font-size: $font-size-btitle;
    position: relative;
    background-color: $tc-opacity;
    padding: 30px 30px 30px 42px;
    margin: 0px auto 50px auto;
    &::before{
        content: "";
        height: 24px;
        width: 2px;
        position: absolute;
        top: 30px;
        left: 30px;
        background-color: $first-color;
    }
}
.club{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 50px;
    position: relative;
    
    .victory{
        position: absolute;
        top: 15%;
        left: -3%;
        width: 60%;
        height: auto;
        z-index: 1;
    }
    .clubContent{
        position: relative;
        background-color: $fifth-color;
        font-family: $font-content;
        color: $third-color;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 45%;
        padding: 35px;
        h2{
            background-color: transparent;
            margin: 0;
            padding-left:10px;
            padding-top: 0;
            position: relative;
            &::before{
                position:absolute;
                top: 0;
                left: 0;
            }
        }
        p{
            margin-bottom: 10px;
        }
        .lastP{
            margin-bottom: 20px;
        }
    }
}

.p-i-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    width: 100%;
}
.textContent{
    font-family: $font-content;
    color: $third-color;
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 0 35px;
    flex-grow: 1;
    h3{
        padding: 25px 0;
        font-size: $font-size-title;
    }
    p{
        margin-bottom: 10px;
    }
    .lastP{
        margin-bottom: 20px;
    }
    
}

    .picture{
        width: 550px;
        height: 550px;
        border-radius: 100%;
        overflow: hidden;
            img{
                height: 100%;
            }
}
.titleCategory{
    font-size: $font-size-title;
    text-align: center;
    color: $third-color;
    margin-top: 50px;

}
.cart{
    margin: 30px auto 0 auto;
    background-color: $tc-opacity;
    padding: 30px;
    width: 49%;
    p{
        color: $third-color;
        font-family: $font-content;
        font-size: $font-size-p;
    }
    iframe{
        margin-top: 20px;
    }
}
.contactTraining{
    margin: 50px 0;
}
.spirit{
    margin-bottom: 50px;
    padding: 50px 0;
    background-image: url(../img/spirit.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .textContent{
        flex-grow: 0;
        background-color: $sc-opacity;
        width: 40%;
        padding: 30px;
    }
}
.imgContact{
    width: 40%;
    height: auto;
    img{
        width: 100%;
    }
}

.flexContact{
    align-items: flex-start;
    justify-content: flex-start;
    form{
        width: 40%;
        background-color: $tc-opacity;
        color: $third-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 30px;
        margin-left: 30px;
        .titleContent{
            background-color: transparent;
            padding: 0;
            padding-left: 12px;
            margin: 0;
            margin-bottom: 30px;
            &::before{
                height: 100%;
                top: 0;
                left: 0;
            }
        }
        label{
            margin: 10px 0;
        }
        input{
            font-size: $font-size-p;
            font-weight: $font-weight-title;
            font-family: $font-content;
            color: $second-color;
            padding: 5px 5px;
            width: 100%;
            &:focus{
                outline: none;
            }
        }
        textarea{
            font-size: $font-size-p;
            font-weight: $font-weight-title;
            font-family: $font-content;
            color: $second-color;
            width: 100%;
            &:focus{
                outline: none;
            }
        }
        .onField{
            display: flex;
            align-items: center;
            input{
                margin: 0 5px 0 15px;
                width: 15px;
                height: 15px;
            }
            .firstChild{
                margin-left: 0px;

            }
            label{
                margin: 0;
            }
        }
        select{
            width: 100%;
            height: 35px;
            &:focus{
                outline: none;
            }
        }
        button{
            cursor: pointer;
            margin: 15px 0 15px 1px;
            border: none;
            padding: 7px 10px;
            background-color: $first-color;
            background-size: contain;
            color: $second-color;
            font-size: 15px;
            text-transform: uppercase;
            text-decoration: none;
            display: inline-flex;
            position: relative;
            font-family: $main-font;
            font-size: $font-size-menu;
            z-index: 0;
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background-color: $second-color;
                transition: all 0.3s;
                z-index: -1;

            }
            &:hover{
                z-index: 0;
                color: $first-color;
                &::before{
                    width: 100%;
                }
            }
            &:focus{
                outline: none;
            }
        }
    }
}
.connexionForm{
    flex-grow: 1;
    width: 40%;
    form{
        width: 60%;
        margin-bottom: 15px;
        h3{
            font-size: $font-size-p;
            margin-bottom: 15px;
        }
        #connecteToi{
            cursor: pointer;
        }
        #inscrisToi{
            cursor: pointer;
        }
    }
    #formInscription{
        display: none;
    }
}




