@use "variables" as *;
@import "basic";
@import "menu_fixe";
@import "menu_connexion";

ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    li{
        a{
            text-decoration: none;
            color: $first-color;
            text-transform: uppercase;
            font-size: $font-size-menu;
            padding: 15px 20px;
            position: relative;
            z-index: 9;
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 1px;
                height: 100%;
                background-color: $first-color;
                transition: all 0.3s;
                z-index: -1;
            }
            &:hover{
                color: $second-color;
                &::before{
                    width: 100%;
                }
            }
        }
        
        &:first-child{
            a{
                &::before{
                    width: 0;
                }
                
                &:hover{
                    color: $second-color;
                    &::before{
                        width: 100%;
                    }
                }
            }
        }
        display: flex;
        align-items: center;
    }
}
.accueil{
    background-image: url("../img/accueil.jpg");
    background-size: cover;
    overflow: hidden;
    width: auto;
    height: 100%;
    .containerAccueil{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .logo_big{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            img{
                width: 550px;
                height: auto;
            }
        }
        .title{
            font-weight: $font-weight-title;
            margin: 0;
            text-transform: uppercase;
            color:$third-color;
            display: inline; 
            &--big{
                font-size: 40px;
            }
            &--little{
                font-size: $font-size-title; 
                margin-bottom: 25px;
                
            }
            .point{
                margin: 5px;
            }
        }
    }
    
    
}

.leclub{
    background-color: $second-color;
}
.headerAccueil{
    width: 100%;
    position: fixed;
    .containerHeaderAccueil{
        padding: 15px 0;
        margin: auto;
        width: 70%;
        display: flex;
        justify-content: flex-end;
        align-items:center;
        &>*{
            margin-left:10px;
        }
        p{
            color: $first-color;
        }
        .facebook{
            &:hover{
                background-color: $third-color;
                border-color: $third-color;
                i{
                        color: $second-color;
                }
            }
        }
        .connexion{
            a{
                &::before{
                    background-color: $third-color;
                }
                &:hover{
                    z-index: 1;
                    color: $second-color;
                    &::before{
                        width: 100%;
                    }
                }    
            }
        }

    }

}


