body{
    background: rgb(32, 22, 114);
}

ul{
    list-style-type: none;
    display: flex;
    li{
        a{
            text-decoration: none;
            color: rgb(226, 193, 8);
            text-transform: uppercase;
        }
        padding: 30px;
    }
}

