@use "../variables" as *;

header{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .facebook{
        border-radius: 100%;
        border: 3px solid $first-color;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
            background-color: $second-color;
            border-color: $second-color;
        }
        i{
            font-size: 15px;
            color: $first-color;
        }
    }
    .connexion{
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            padding: 7px 10px;
            font-size: 15px;
        }
    }
}
.bold{
    font-weight: $font-weight-bold;
}
.headerAccueil{
    width: 100%;
    position: fixed;
    .containerHeaderAccueil{
        padding: 15px 0;
        margin: auto;
        width: 70%;
        display: flex;
        justify-content: flex-end;
        align-items:center;
        &>*{
            margin-left:10px;
        }
        p{
            color: $first-color;
        }
        .facebook{
            &:hover{
                background-color: $third-color;
                border-color: $third-color;
                i{
                        color: $second-color;
                }
            }
        }
        .connexion{
            a{
                &::before{
                    background-color: $third-color;
                }
                &:hover{
                    z-index: 1;
                    color: $second-color;
                    &::before{
                        width: 100%;
                    }
                }    
            }
        }

    }

}